---
import { getCollection, getEntry } from "astro:content";
import Nav from "../../components/Nav.astro";
import PostLayout from "../../layouts/PostLayout.astro";
import type { CollectionEntry } from 'astro:content';
export async function getStaticPaths() {
	const flowersEntries = await getCollection('flower')
	
	return flowersEntries.map((kwiat)=>({
		params: { slug: kwiat.slug },
    	props: { kwiat},
		
	})
	)
	

}
const { kwiat } = Astro.props;
const src1='kuklik_pospolity_ykh0sb';
---
<html>
<head>
	<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
</head>
<body>
	<PostLayout>
		<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 pt-12">
			<a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
				
				<span class="self-center text-3xl font-semibold whitespace-nowrap">Makrofotografia</span>
			</a>
			
		<Nav></Nav>
		</div>
		<div class="grid grid-cols-1 lg:grid-cols-3 grid-rows-1 place-content-center">
			<div class="lg:m-8 lg:col-span-2 md:m-2 sm:m-2 m-2">
				<picture>

					<source 
					  media="(min-width: 800px)"
					  srcset=`https://res.cloudinary.com/drvpquisg/image/upload/ar_2:1,c_fill,g_face/f_auto/q_auto/c_scale,w_800/${kwiat.data.mainImage}.jpg 800w, 
					  https://res.cloudinary.com/drvpquisg/image/upload/ar_2:1,c_fill,g_face/f_auto/q_auto/c_scale,w_1600/${kwiat.data.mainImage}.jpg 1600w`
					  sizes="100vw" />  
					
					
					
					<img
					  srcset=`https://res.cloudinary.com/drvpquisg/image/upload/ar_1:1,c_thumb,g_face/f_auto/q_auto/c_scale,w_400/${kwiat.data.mainImage}.jpg 400w, 
					  https://res.cloudinary.com/drvpquisg/image/upload/ar_1:1,c_thumb,g_face/f_auto/q_auto/c_scale,w_800/${kwiat.data.mainImage}.jpg 800w`
					  src=`https://res.cloudinary.com/drvpquisg/image/upload/f_auto/q_auto/c_scale,w_400/${kwiat.data.mainImage}.jpg`
					  alt="Man playing guitar"
					  sizes="100vw" />   
					
					</picture>
			</div>
		
			<div class="m-8">
				
				<h2 class="text-5xl text font-bold" transition:name={`tekst-${kwiat.slug}`}>{kwiat.data.title}</h2>
				<h4 class="pt-6 text-1xl italic">{kwiat.data.latina}</h4>
				<hr class="bg-gray-700 h-1 my-3">
				<p class="text-blue-600 pt-4 text-xl">GROMADA: {kwiat.data.level1}</p>
				
				<p class="text-blue-800 pt-4 text-xl indent-8">RZĄD: {kwiat.data.level2}</p>
				<p class="text-blue-900 pt-4 text-xl indent-16">RODZINA: {kwiat.data.level3}</p>
				<p class="text-blue-900 pt-4 text-xl indent-24">RODZAJ: {kwiat.data.level4}</p>
				<hr class="bg-gray-700 h-1 my-3">
				<p class="text-black pt-4 text-xl">OKRES KWITNIENIA : {kwiat.data.flowertime}</p>
				<hr class="bg-gray-700 h-1 my-3">
				<p class="text-black pt-4 text-xl text-justify font-">WYSTĘPOWANIE</p>
				<p class="text-xl text-justify">{kwiat.data.where}</p>
				<hr class="bg-gray-700 h-1 my-3">
				<p class="text-xl text-justify"></p>
				
				
			</div>
		</div>	
			<slot />
	</PostLayout>
</body>
</html>